<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Masterjava</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/upload">
    Select xml file to upload: <input type="file" name="upfile"><br/>
    <br/>
    <input type="submit" value="Upload">
</form>

<h1>Users list:</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Flag</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="user : ${users}">
        <td th:text="${user.value}">Name</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.flag.value()}">acive</td>
        <td th:text="${user.city}">City</td>
    </tr>
    </tbody>
</table>
</body>
</html>